@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");

body {
  background-color: #34383a;
  font-family: "Nunito Sans", sans-serif;
  color: white;
}

.navbar-border {
  border-bottom: solid 1px #dfdfdf;
  background-color: white;
  z-index: 2;
}

.filter-row {
  margin-top: 55px;
  margin-bottom: 55px;
}

.input-group-text {
  background-color: white;
  border: none;
}

.form-control-border-none {
  border: none;
}

.btn-white {
  background-color: white;
  outline: none;
  padding: 0.54rem 1rem;
}

.card-black-bg {
  background-color: #202d36;
}

.card > img {
  height: 200px;
  object-fit: cover;
}

.card-body-ht {
  height: 210px;
}

.card-body > p {
  margin-bottom: 0.5rem;
}

.card-title {
  font-weight: 700;
}

.btn:focus {
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
}

.navbar-brand {
  font-weight: 700;
}

@media screen and (min-width: 650px) {
  .card > img {
    height: 150px;
    object-fit: cover;
  }

  .button-float-right {
    float: right;
  }
}
